body,
html {
  font-family: sans-serif;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
#bossFab {
  transition: transform 400ms;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.mini {
  transition: top 400ms;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
paper-drawer-panel {
  background-color: #e0e0e0;
}
paper-drawer-panel paper-header-panel {
  background-color: #3f51b5;
  color: white;
}
paper-drawer-panel paper-header-panel paper-toolbar {
  height: 70px;
}

paper-button {
  background: #4285f4;
  color: #fff;
}
.container {
  display: table;
  height: 100%;
  margin: 5px;
}
.name {
  font-size: 2em;
  vertical-align: middle;
  display: table-cell;
}
#mainContainer {
  background-color: #e0e0e0;
  color: #212121;
}
@-webkit-keyframes loadContact {
  0% {
    transform: translate(-10%, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes loadContact {
  0% {
    opacity: 0;
    transform: translate(-10%, 0);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes loadBody {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes loadBody {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
 
.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}
}