@font-face {
  font-family: 'icomoon';
  src:  url('https://github.com/Ayysir/Ayysir.github.io/tree/master/icomoon/fonts/icomoon.eot?s0buh2');
  src:  url('https://github.com/Ayysir/Ayysir.github.io/edit/master/icomoon/fonts/icomoon.eot?s0buh2#iefix') format('embedded-opentype'),
    url('https://github.com/Ayysir/Ayysir.github.io/edit/master/icomoon/fonts/icomoon.ttf?s0buh2') format('truetype'),
    url('https://github.com/Ayysir/Ayysir.github.io/edit/master/icomoon/fonts/icomoon.woff?s0buh2') format('woff'),
    url('https://github.com/Ayysir/Ayysir.github.io/edit/master/icomoon/fonts/icomoon.svg?s0buh2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-epic-games-2 .path1:before {
  content: "\e900";
  color: rgb(95, 95, 95);
}
.icon-epic-games-2 .path2:before {
  content: "\e901";
  margin-left: -0.857421875em;
  color: rgb(255, 255, 255);
}
